/* Text Styles */
h1 {
  font-weight: bolder;
  font-size: 400%;
  text-align: center;
}
p {
  font-size: 150%;
}

/* nav bar */

a:link, a:visited,  a:hover,  a:active {
	text-decoration: none;
	padding: 5px;
	font-weight: bold;
	color: #000;
}
nav a:link {
	background-color: #FFF;

}
nav a:hover {
	background-color:#F0E68C;
}

nav {
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: auto;
  margin-bottom: 60px;
}

nav ul {
  margin: auto;
  padding: 0px;
}

nav li {
  list-style: none;
  vertical-align: middle;
  margin: 5px;
  display: inline-block;
}

nav a {
   display: inline-block;
   font-size: 100%;
}


/* images */

.clip-circle {
  /*clip-path: circle(209px at 288px 240px);*/
}

img { 
  /*width: 646px; (1077*(80/100))*/
  width: 100%;
  margin: auto;
  vertical-align: middle;
  overflow: hidden;
  margin-left:15px; /* to adjust for writing offset on farbkreis */
}

.logo {
  width: 20px;
  padding: 3px;
  margin: auto;
}

#Home {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
}


/* Layout Styles */

#main {
  margin:auto;
  width: 90%;
  text-align: center;
}

#content {
  width: 80%;
  height: auto;
  margin:auto;
}

#farbkreis {
  top: 0;
  left: 0;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  z-index:100;
}

#erklarung1 {
  width:48%;
  top: 0;
  left: 0;
  float: left;
  z-index:80;
}

#erklarung2 {
  width:48%;
  top: 0;
  left: 50%;
  float: right;
  z-index:80;
}

/* Media Queries */

@media screen and (max-width: 650px) {
    
    .socialNav {
        display: none;
    }
    
    p {
        font-size: 100%;
    }
    
    h1 {
    font-size: 250%;
    }

    #erklarung1 {
        width:100%;
        top: 0;
        left: 0;
        z-index:80;
    }
    
    #erklarung2 {
        width:100%;
        top: 0;
        left: 50%;
        z-index:80;
    }

    #Home {
        width: 30px;
        height: 30px;
        top: 5%;
        left: 5%;        
    }
}

@media screen and (max-width: 550px) {
    img { 
        /*width: 646px; (1077*(80/100))*/
        width: 100%;
        margin: auto;
        vertical-align: middle;
        overflow: hidden;
        margin-left:15px; /* to adjust for writing offset on farbkreis */
    }
    
    #farbkreis {
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
        text-align: center;
        z-index:100;
    }
    
    #content {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

     p {
        font-size: 120%;
    }
    
    .logo {
        width: 15px;
        padding: 2px;
    }


}